.switch-button input[type="checkbox"] {
  display: none; /* 隱藏原本的 checkbox */
}
.navbar-text.welcome-message {
  margin-right: 20px; /* 調整適當的間距 */
}
.navbar {
  border-bottom: 1px solid #ccc; /* 調整顏色和寬度 */
}

.video-container {
  position: relative;
  left: 7.5%;
  width: 85%; /* 調整為您想要的寬度百分比 */
  padding-bottom: 47.8125%; /* 16:9 偵輯比例（高度/寬度） */
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
