<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            .container,
            body,
            html {
                height: 100%;
            }
        </style>
    </head>
    <div class = "position-absolute fixed-bottom ml-3 mb-3">
        <script type="text/javascript"> //<![CDATA[
                var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
                document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
                //]]></script>
                <script language="JavaScript" type="text/javascript">
                        TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
                </script>
        </script>
    </div>
    <body>
        <div class="container d-flex justify-content-center align-items-center">
            <a class="btn btn-primary align-middle" href="/login">Sign in with Google</a>
        </div>
    </body>
</html>
