<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jump Rope League</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Welcome to the Jump Rope League! Showcase your jump rope skills, compete for high scores, and immerse yourself in the world of excitement and challenges. Join us to enhance your technique and experience the thrill of jump rope!">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .container,
            html {
                height: 100%;
            }
            body {
                padding-top: 70px;
            }
            .home-button {
                position: absolute;
                top: 20px;
                left: 20px;
            }
            .login-button {
                position: absolute;
                top: 20px;
                right: 20px;
            }
            .header {
                text-align: center;
                margin-bottom: 40px;
            }
            .text-container {
                position: relative;
                left: 7.5%;
                width: 85%; /* 調整為您想要的寬度百分比 */
            }
            .bottom_btn {
                position: relative;
                top:10px
            }
            .content {
                padding-top: 80px; /* 調整上邊距的大小，使內容不被遮蓋 */
            }
        </style>
    </head>
    <body>
        <!--
        <div class = "fixed-bottom ml-3 mb-3">
            <script type="text/javascript"> //<![CDATA[
                    var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
                    document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
                    //]]></script>
                    <script language="JavaScript" type="text/javascript">
                            TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
                    </script>
            </script>
        </div>//-->
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Jump Rope League</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('ranking') }}">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('rule') }}">Rule</a>
                        </li>
                        <li class="nav-item">
                            <div class="form-check form-switch switch-button nav-link">
                                <input class="form-check-input" type="checkbox" id="lightSwitch" />
                                <label class="form-check-label" for="lightSwitch">
                                    <span id="modeLabel">Switch to Dark</span>
                                    <i class="fa-solid fa-circle-half-stroke"></i>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-primary" href="/login">Sign in with Google <i class="fa-solid fa-arrow-right-to-bracket"></i></a>

                </div>
            </div>
        </nav>
        <div class="container">
            <div class="text-container">
                <p>Welcome to the Jump Rope League! Showcase your jump rope skills, compete for high scores, and immerse yourself in the world of excitement and challenges. Join us to enhance your technique and experience the thrill of jump rope!</p>
                <h2>Features and Benefits</h2>
                <p>Jump Rope League offers a range of features to help you make the most of your jump rope experience:</p>
                <ul>
                    <li>Compete with fellow jump ropers from around the world in a friendly and engaging environment.</li>
                    <li>Receive instant feedback and scores for your jump rope videos.</li>
                    <li>Discover tips and techniques from other participants to improve your skills.</li>
                    <li>Stay motivated with our ranking system that rewards your progress and effort.</li>
                    <li>Connect with a community of jump rope enthusiasts and share your achievements.</li>
                </ul>
                <h2>How to Get Started</h2>
                <p>Ready to join Jump Rope league? Follow these simple steps to get started:</p>
                <ol>
                    <li>Sign in with your Google account by clicking the "Sign in with Google" button above.</li>
                    <li>Once signed in, you can upload your jump rope videos to participate in the league.</li>
                    <li>After uploading, our system will analyze your video and provide you with a score and ranking.</li>
                    <li>Explore the ranking list to see where you stand among other jump rope enthusiasts.</li>
                </ol>
                <p>Ready to jump in? Sign up now and start your journey to becoming a jump rope champion!</p>
                <h2>Website Demo</h2>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/oqZAJrscZW8" allowfullscreen title="Website Demo"></iframe>  
            </div>
               
            <a class="bottom_btn btn btn-primary d-flex justify-content-center" href="/login">Sign in with Google</a>
        </div>
        
    </body>
    
    <script src="{{ url_for('static', filename='js/switch.js') }}"></script>
</html>
