<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ranking</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 70px;
        }
        .table-hover tbody tr:hover {
            background-color: #f5f5f5;
        }
        .table {
            width: 100%;
        }
        .table td {
            white-space: normal; /* 換一行 */
            overflow: hidden;    /* 隱藏溢出部分 */
            text-overflow: ellipsis; /* 使用省略號表示溢出 */
            max-width: 80px; /* 設定最大寬度，調整此數值來控制截斷的位置 */
        }
        .header {
            text-align: center;
            margin-bottom: 40px;
        }
    </style>
</head>
<!--
<div class = "fixed-bottom ml-3 mb-3">
    <script type="text/javascript"> //<![CDATA[
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]></script>
        <script language="JavaScript" type="text/javascript">
            TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
        </script>
    </script>
</div>
//-->
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Jump Rope League</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ranking') }}">Ranking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rule') }}">Rule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('video_list') }}">My History</a>
                    </li>
                    <li class="nav-item">
                        <div class="form-check form-switch switch-button nav-link">
                            <input class="form-check-input" type="checkbox" id="lightSwitch" />
                            <label class="form-check-label" for="lightSwitch">
                                <span id="modeLabel">Switch to Dark</span>
                                <i class="fa-solid fa-circle-half-stroke"></i>
                            </label>
                        </div>
                    </li>
                </ul>
                
                <div class="d-flex ">
                    <div class="navbar-text welcome-message">
                        Welcome, {{ session['user'] }}!
                    </div>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
                
            </div>
        </div>
    </nav>
    <div class="container">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Ranking</th>
                </tr>
            </thead>
            <tbody>
                {% for filename, info in ranking.items() %}
                    {% for format in formats %}
                        {% set email = vid_User[filename+format] %}
                        {% if email is defined %}
                            {% set user_name = mail_name[email] %}
                            {% set date = filename[:8] %}
                            {% set formatted_date = date[:4] + '/' + date[4:6] + '/' + date[6:] %}
                            {% set score = info[0]['score'] %}
                            {% set rank = info[0]['ranking'] %}
                            <tr onclick="window.location.href='{{ url_for('result_page', video='processed_' + filename + format) }}';">
                                <td>{{ user_name }}</td>
                                <td>{{ email }}</td>
                                <td>{{ formatted_date }}</td>
                                <td>{{ score }}</td>
                                <td>{{ rank }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/switch.js') }}"></script>
</body>
</html>
