<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ranking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        .table-hover tbody tr:hover {
            background-color: #f5f5f5;
        }
        .header {
            text-align: center;
            margin-bottom: 40px;
        }
        .logout-button {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .home-button {
            position: absolute;
            top: 20px;
            left: 20px;
        }
    </style>
</head>
<div class = "position-absolute fixed-bottom ml-3 mb-3">
  <script type="text/javascript"> //<![CDATA[
      var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
      document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    //]]></script>
    <script language="JavaScript" type="text/javascript">
      TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
  </script>
</div>
<body>
    <div class="container mt-4">
        <div class="header">
            <h1>Ranking</h1>
            <div class="logout-button">
                {% if 'user' in session %}
                    <p>Welcome, {{ session['user'] }}!</p>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                {% endif %}
            </div>
            <div class="home-button">
                <a href="/" class="btn btn-primary">Back to Home</a>
                <a href="{{ url_for('video_list') }}" class="btn btn-primary">Result List</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Ranking</th>
                </tr>
            </thead>
            <tbody>
                {% for filename, info in ranking.items() %}
                    {% for format in formats %}
                        {% set email = vid_User[filename+format] %}
                        {% if email is defined %}
                            {% set user_name = mail_name[email] %}
                            {% set date = filename[:8] %}
                            {% set formatted_date = date[:4] + '/' + date[4:6] + '/' + date[6:] %}
                            {% set score = info[0]['score'] %}
                            {% set rank = info[0]['ranking'] %}
                            <tr onclick="window.location.href='{{ url_for('result_page', video='processed_' + filename + format) }}';">
                                <td>{{ user_name }}</td>
                                <td>{{ email }}</td>
                                <td>{{ formatted_date }}</td>
                                <td>{{ score }}</td>
                                <td>{{ rank }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
