<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ranking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .table-hover tbody tr:hover {
            background-color: #f5f5f5;
        }
        .header {
            text-align: center;
            margin-bottom: 40px;
        }
        .logout-button {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .home-button {
            position: absolute;
            top: 20px;
            left: 20px;
        }
    </style>
</head>
<div class = "fixed-bottom ml-3 mb-3">
    <script type="text/javascript"> //<![CDATA[
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]></script>
        <script language="JavaScript" type="text/javascript">
            TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
        </script>
    </script>
</div>
<body>
    <div class="container mt-4">
        <div class="header">
            <h1>Ranking</h1>
            <div class="logout-button">
                {% if 'user' in session %}
                    <p>Welcome, {{ session['user'] }}!</p>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                {% endif %}
            </div>
            <div class="home-button">
                <div class="form-check form-switch ms-3 mt-5 me-5">
                    <input class="form-check-input" type="checkbox" id="lightSwitch"/>
                    <label class="form-check-label ms-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="home-button">
                <a href="/" class="btn btn-primary">Back to Home</a>
                <a href="{{ url_for('video_list') }}" class="btn btn-primary">Result List</a>
                <a href="{{ url_for('rule') }}" class="btn btn-primary">Rule</a>
            </div>
        </div>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Ranking</th>
                </tr>
            </thead>
            <tbody>
                {% for filename, info in ranking.items() %}
                    {% for format in formats %}
                        {% set email = vid_User[filename+format] %}
                        {% if email is defined %}
                            {% set user_name = mail_name[email] %}
                            {% set date = filename[:8] %}
                            {% set formatted_date = date[:4] + '/' + date[4:6] + '/' + date[6:] %}
                            {% set score = info[0]['score'] %}
                            {% set rank = info[0]['ranking'] %}
                            <tr onclick="window.location.href='{{ url_for('result_page', video='processed_' + filename + format) }}';">
                                <td>{{ user_name }}</td>
                                <td>{{ email }}</td>
                                <td>{{ formatted_date }}</td>
                                <td>{{ score }}</td>
                                <td>{{ rank }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/switch.js') }}"></script>
</body>
</html>
