<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rule</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            padding: 70px;
        }
        .table-hover tbody tr:hover {
            background-color: #f5f5f5;
        }
        .header {
            text-align: center;
            margin-bottom: 40px;
        }
        .logout-button {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .home-button {
            position: absolute;
            top: 20px;
            left: 20px;
        }
    </style>
</head>
<!--
<div class = "fixed-bottom ml-3 mb-3">
    <script type="text/javascript"> //<![CDATA[
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]></script>
        <script language="JavaScript" type="text/javascript">
            TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
        </script>
    </script>
</div>
//-->
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Jump Rope League</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ranking') }}">Ranking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rule') }}">Rule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('video_list') }}">My History</a>
                    </li>
                    <li class="nav-item">
                        <div class="form-check form-switch switch-button nav-link">
                            <input class="form-check-input" type="checkbox" id="lightSwitch" />
                            <label class="form-check-label" for="lightSwitch">
                                <span id="modeLabel">Switch to Dark</span>
                                <i class="fa-solid fa-circle-half-stroke"></i>
                            </label>
                        </div>
                    </li>
                </ul>
                <div class="navbar-text welcome-message">
                    Welcome, {{ session['user'] }}!
                </div>
                <div class="navbar-text">
                    
                </div>
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                
            </div>
        </div>
    </nav>
    <div class="container">
        
        <h2>Upload Video Format:</h2>
        <p>Accepted formats: '.mp4', '.avi', '.mov', '.mkv', '.webm', '.wmv', '.m4v'</p>
        <p>Video length should be between 30 seconds and 1 minute.</p>
        <p>Please ensure that the uploaded video is a vertical 16:9 aspect ratio, and make sure that your body and the jump rope are within the frame to avoid any issues during recognition.</p>
        
        <h2>Scoring Rules:</h2>
        <p>open 2 points, cross 3 points, magic cross 5 points.</p>
        <p>The final score will be calculated as the rounded result of</p>
        <p>((2 * open_count + 3 * cross_count + 5 * magic_cross_count) / video_length) * 30</p>
        <p>Example: If a person performs 30 open jumps, 20 cross jumps, and 10 magic cross jumps within 40 seconds, the final score will be</p>
        <p>((2 * 30 + 3 * 20 + 5 * 10) / 40) * 30 = 127.5 ≈ 128.</p>
        <p>To maximize your score, it is recommended to edit your video and remove any periods without jumping.</p>
        
        <h2>Jump Rope Tricks Demonstrations:</h2>
        <p>Warning: Please perform each jump in a regular single rotation manner. If using alternate foot step jump, count approximately every two jumps as one. And such as double, triple, or higher unders will be counted as a single jump.</p>
        <p>Watch the demonstration video below:</p>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/your_youtube_video_id" frameborder="0" allowfullscreen></iframe>
        </div>    
    </div>
    <script src="{{ url_for('static', filename='js/switch.js') }}"></script>
</body>
</html>
